%body{
    background: linear-gradient(90deg, rgba(248,244,234,0.5190116686698718) 21%, rgba(162,224,244,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    
}

/*Estilos de botones*/
%botones{
    display: inline-block;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    border-radius: 0.7rem;
    opacity: 0.8;
}

